:root {
	--answered: #43b02a;
	--inprogress: #edce3a;
	--untouched: #ff5555;
}

ol li:nth-child(odd) {
	background-color: #f9f7f7;
}

ol li:nth-child(even) {
	background-color: #e2e2e2;
}

.card-deck .card.question{
	min-height: 200px;
	min-width: 350px;
	margin-bottom: 15px;
}

.question.card.answered, .answered{
	background-color: var(--answered);
}

.question.card.inprogress, .inprogress{
	background-color: var(--inprogress);
}

.question.card.untouched, .untouched{
	background-color: var(--untouched);
}

.card-footer .btn-link{
	color: white;
	background-color: #059adb;
}
